:root {
  --verdeClaro: #27ca94c4;
  --verdeEscuro: #023d2ac4;
  --brancoClaro: #fdfdfd;
  --brancoEscuro: #cfcfcf49;
  --preto: #2c2a2a;
  --cinza: #686666;
  --cinzaEscuro: #636363;
  --azulClaro: #00ebc7;
}